@import '../../../sass/base/variable.scss';

.login {
  .main-cont {
    .form-group {
      input{
        padding-left: 50px;
      }
      i {
        position: absolute;
        font-size: 26px;
        color: #707070;
        top: 12px;
        left: 6px;
      }
      span {
        position: absolute;
        top: 12px;
        left: 28px;
        font-size: 28px;
        color: #ccc;
      }
    }
  }
}
