<ion-view view-title="商铺" class="so-shops">
    <ion-nav-title>
        我的商铺
    </ion-nav-title>
    <ion-nav-buttons side="left">
        <button class="button button-clear" ng-click="$ionicGoBack()">
            <i class="ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" ng-click="$ionicGoBack()">
            <i class="ion-more"></i>
        </button>
    </ion-nav-buttons>
    <ion-content class="padding">
        我是商铺 hi 我只是测试而已!!
        <br/> {{ shop.msg }}
        <br/> 指令:
        <so-hi so-btn-text="我是指令" so-click="shop.sayHi()"> </so-hi>
        <br/>
        <button class="button button-positive" ng-click="shop.sayHello()">
         say hello
        </button>
        <button class="button button-calm" ng-click="shop.onCamerg()">
         拍照
        </button>
        <br/>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" ng-src="{{ shop.imgUrl }}">
                <p>
                    我只是拍照测试,一会拍照的照片将会显示在上面！！！！. {{ shop.msgError }}
                </p>
                <p>
                    <a href="#" class="subdued">1 Like</a>
                    <a href="#" class="subdued">5 Comments</a>
                </p>
            </div>
        </div>
        二维码内容放在这里： {{home.barcodeData }}
    </ion-content>
</ion-view>