.bank {
  .main-cont {
    .card-item {
      position: relative;
      background-color: #fff;
      margin-top: 20px;
      width: 100%;
      height: 90px;
      padding: 15px 20px;
      .card-img {
        width: 60px;
        height: 60px;
        border: 1px solid #999;
        display: inline-block;
        float: left;
        margin-right: 12px;
        border-radius: 3px;
      }
      span {
        display: block;
        height: 30px;
        line-height: 30px;
      }
      .so-edit {
        position: absolute;
        right: 30px;
        top: 40%;
        font-size: 24px;
      }
    }
    .button {
      width: 92%;
      margin: 0 auto;
      margin-top: 20px;
    }
  }
}