.my-shop {
  .my-info {
    margin-top: 10px;
    background-color: #fff;
    width: 100%;
    height: 120px;
    position: relative;
    padding: 20px 20px;
    img {
      width: 81px;
      height: 81px;
      float: left;
      display: inline-block;
      margin-right: 20px;
    }
    .title, .leval, .cont {
      display: block;
      height: 27px;
      line-height: 27px;
      font-size: 14px;
    }
    .title {
      font-size: 18px;
    }
    .action {
      position: absolute;
      top: 40%;
      right: 30px;
      font-size: 20px;
    }
  }

  .jz, .pj {
    i {
      font-size: 34px;
    }
    span {
      margin-top: 7px;
    }
  }

  .jingying {
    .lump-cont {
      padding-top: 5px;
    }
    .lump-item {
      text-align: left;
    }
  }
}
