
.right-buttons {
  button {
    color: #ff696d;
  }
}
//item左右内边距
$item-padding-left-right:10px;
.crowd-project {
  background: #f8f8f8;
  .project-banner {
    margin-top: 10px;
    width: 100%;
    img {
      width: 100%;
    }
  }
  .project-banner:first-child {
    margin-top: 0;
  }
  .list {
    margin-top: 10px;
    margin-bottom: 10px;
    > .item {
      border-color: #e4e4e4;
      padding: 5px $item-padding-left-right;
    }
  }
  //众筹状态
  .project-status {
    .item:nth-child(1) {
      padding: 5px 0;
      border-bottom-width: 0;
    }
    .project-tag {
      position: relative;
      i:nth-child(1) {
        position: absolute;
        z-index: 0;
        font-size: 80px;
        left: -7px;
        top: 4px;
        color: #ff696d;
      }
      i:nth-child(2) {
        position: absolute;
        z-index: 1;
        left: 0;
        display: inline-block;
        width: 63px;
        text-align: center;
        font-size: 14px;
        color: white;
      }
      + span {
        font-size: 14px;
        margin-left: 73px;
        color: #333333;
      }
    }

    .item:nth-child(2) {
      border-top-width: 0;
      padding: 0 $item-padding-left-right;
      p {
        margin: 0;
      }
      p:nth-child(1) {
        color: #ff696d;
        text-align: center;
        font-size: 20px;
        margin: 16px 0 16px 0;
      }
      p:nth-child(2) {
        background: #fbfbfb;
        padding: 5px 0;
        color: #666666;
        font-size: 14px;
      }
    }
  }
  //项目简介
  .project-desc {
    .item:nth-child(1) {
      color: #666666;
      font-size: 14px;
      font-weight: bolder;
    }
    .item-body {
      padding: 0;
      p:nth-child(1){
        font-size: 12px;
        padding: 0 $item-padding-left-right;
      }
      p:nth-child(2){
        padding: 0;
        border-top: 1px solid #e4e4e4;
      }
    }
  }
  //项目资金
  .project-fund{
    .list {
      border-radius: 4px;
      -webkit-border-radius: 4px;
      min-height: 44px;
      margin-bottom: 0;
      > div:nth-child(1) {
        position: relative;
        min-height: 23px;
        p {
          position: absolute;
          padding: 0;
          margin: 0;
        }
        p:nth-child(1) {
          z-index: 0;
          left: 0;
          top: -1px;
          color: white;
          background: #ff9999;
          width: 100%;
          height: 23px;
          span {
            display: block;
            width: 15%;
            min-height: 23px;
            text-align: center;
            line-height: 23px;
          }
        }
        p:nth-child(2) {
          z-index: 1;
          right: 0;
          top: -1px;
          background: #ff9999;
          width: 85%;
          min-height: 20px;
          border-left: 10px solid transparent;
          border-top: 22px solid white;
          span{
            position: absolute;
            top:-20px;
            left: 2px;
            color: #8c8c8c;
            font-size: 12px;
          }
        }
      }
      > div:nth-child(2) {
        color: #a7a7a7;
        font-size: 13px;
        span {
          padding: 0 10px;
        }
      }
    }
  }
  //支持
  .project-support{
    .list {
      > div {
        float: left;
      }
      >div:nth-child(1){

        width: 60%;
      }
      >div:nth-child(2){
        width: 40%;
        text-align: center;
        p{
          margin: 0;
          color: #919191;
        }
        p:nth-child(1){
          margin-top: 5px;
        }
      }
    }
  }
  .item-body{
    overflow: visible;
  }
  .button{
    margin: 0;
  }
  .clear{
    clear: both;
  }
}
