@import '../base/mixin.scss';
@import '../base/variable.scss';
//$px为需要转换的字号
@function pxTorRem($px) {
    @return $px / $browser-default-font-size * 1rem;
}

//px 转rem 移动页面 需要/2  $px为需要转换的字号
@function px2TorRem($px) {
    @return $px /2/ $browser-default-font-size * 1rem;
}

//生成rem /2 宽和高
@mixin wh($width, $height) {
    width: px2TorRem($width);
    height: px2TorRem($height);
}

::-webkit-input-placeholder {
    color: $s-placeholder;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: $s-placeholder;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: $s-placeholder;
}

:-ms-input-placeholder {
    color: $s-placeholder;
}

body {
    background-color: $s-bj;
    min-width: pxTorRem(320px);
    margin: 0 auto;
    font-family: "Helvetica Neue", '华文黑体', Helvetica, STHeiTi, Arial, sans-serif;
}

.so {
    //重写header
    .bar.bar-header {
        &.bar-stable {
            height: px2TorRem(90px);
            .title {
                font-size: 18px;
                font-weight: normal;
            }
            .buttons {
                .button {
                    i {
                        color: $s-d-color;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    //底部菜单  tab bar 样式
    .tabs {
        border-color: #eaeaea;
        background-color: #fff;
        background-image: -webkit-linear-gradient(bottom, #eaeaea, #eaeaea 50%, transparent 50%);
        background-image: linear-gradient(0deg, #eaeaea, #eaeaea 50%, transparent 50%);
        border-top: 1px solid #eaeaea;
        .tab-item {
            color: $s-f-tab-bar-color;
            .icon {
                font-size: 28px;
                height: 26px;
            }
            .tab-title {
                font-size: 12px!important;
            }
        }
    }
    ion-tabs.tabs-color-active-positive {
        .tab-item.tab-item-active {
            color: $s-d-color;
        }
    }
  //重写header
  .bar.bar-header {
    &.bar-stable {
      height: px2TorRem(90px);
      .title {
        font-size: 18px;
        font-weight: normal;
      }
      .buttons {
        .button {
          i {
            color: $s-d-color;
            font-size: 18px;
          }
        }
      }
    }
  }
  //底部菜单  tab bar 样式
  .tabs {
    border-color: #eaeaea;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #eaeaea, #eaeaea 50%, transparent 50%);
    background-image: linear-gradient(0deg, #eaeaea, #eaeaea 50%, transparent 50%);
    border-top: 1px solid #eaeaea;
    .tab-item {
      color: $s-f-tab-bar-color;
      .icon {
        font-size: 24px;
        height: 26px;
      }
      .tab-title {
        font-size: 12px !important;
      }
    }
  }
  ion-tabs.tabs-color-active-positive {
    .tab-item.tab-item-active {
      color: $s-d-color;
    }
  }
  //内容背景色
  .so-body {
    background-color: $s-bj;
  }

  //添加link-button
  .link-button {
    color: $s-link-color;
  }
  .link-bright {
    color: $s-d-color;
  }
}