<ion-header-bar align-title="center" class="bar-energized  item-input-inset bar-ao-h">
    <button class="button button-clear btn-left" ng-click="$ionicGoBack()">
            北京&nbsp;<i class="ion-ios-arrow-down"></i>
     </button>
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search-strong placeholder-icon"></i>
        <input type="search" placeholder="输入商家丶品类丶商圈">
    </label>
    <button class="button button-clear" ng-click="$ionicGoBack()">
            <i class="ion-more"></i>
     </button>
</ion-header-bar>
<ion-content class="has-header">
    <!--活动-->
    <div class="ao-h-banner" style="background-image: url({{::vm.bannerImgSrc}}); ">

    </div>
    <!--菜单-->
    <nav class="ao-nav">
        <div class="ao-nav-content">

        </div>
        <div class="ao-nav-footer">

        </div>
    </nav>
    首页
    <div style="margin-top:500px; height:400px; background:red; width:100%;"></div>
    233
</ion-content>