@import '../../../sass/base/variable.scss';
@import '../../../sass/base/mixin.scss';
@import "../../../sass/shopBanner";
$header-bj:#ffc12a;
.bar.bar-energized {
    &.bar-ao-h {
        background-color: $header-bj;
        border-color: $header-bj;
        background-image: none;
    }
    //下拉城市
    .btn-left {
        padding-right: 10px;
    }
    //输入框
    .item-input-wrapper {
        border-radius: 15px;
        background: #ffefca;
        .placeholder-icon {
            color: #666;
            &:first-child {
                padding-right: 1px;
            }
        }
         ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: #666;
        }
         :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #666;
            opacity: 1;
        }
         ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #666;
            opacity: 1;
        }
         :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #666;
        }
    }
}

//banner
.ao-h-banner {
    width: 100%;
    height: 100px;
    background-color: $header-bj;
    background-size: contain;
    background-position: center center;
}

@import './sass/nav.scss';
//活动
.ao-ad {
    height: 57.5px;
    width: 100%;
    background-color: #ffffff;
}

//邀请好友
.ao-yqhy {
    margin-top: 10px;
    height: 57.5px;
    width: 100%;
    background-color: #ffffff;
    &.row {
        background-color: #ffffff;
        padding: 0;
        .col {
            a {
                display: block;
                height: 100%;
            }
            &.left {
                padding-left: px2TorRem(38px);
                border-right: 1px solid #eaeaea;
            }
            &.right {
                padding-left: px2TorRem(30px);
            }
            .info {
                display: inline-block;
                text-align: left;
                vertical-align: top;
                width: px2TorRem(150px);
                strong {
                    margin-top: px2TorRem(15px);
                    display: block;
                    font-size: px2TorRem(30px);
                }
                small {
                    display: block;
                    color: #685f5e;
                    font-size: px2TorRem(24px);
                }
            }
        }
    }
}

.ao-card {
    height: auto;
    background-color: #ffffff;
    width: 100%;
    //header
    .ao-card-header {
        height: 35px;
        width: 100%;
        line-height: 35px;
        padding-left: px2TorRem(20px);
        border-bottom: 1px solid #eaeaea;
        i {
            color: $s-d-color;
        }
        strong {
            padding-left: px2TorRem(10px);
            color: #666;
        }
    }
    //热门推荐
    &.ao-hot-recommended {
        margin-top: 10px;
    }
}
