$header-bj:#ffc12a;
.bar.bar-energized {
    &.bar-ao-h {
        background-color: $header-bj;
        border-color: $header-bj;
        background-image: none;
    }
    //下拉城市
    .btn-left {
        padding-right: 10px;
    }
    //输入框
    .item-input-wrapper {
        border-radius: 15px;
        background: #ffefca;
        .placeholder-icon {
            color: #666;
            &:first-child {
                padding-right: 1px;
            }
        }
         ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            color: #666;
        }
         :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            color: #666;
            opacity: 1;
        }
         ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            color: #666;
            opacity: 1;
        }
         :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #666;
        }
    }
}

//banner
.ao-h-banner {
    width: 100%;
    height: 100px;
    background-color: $header-bj;
    background-size: contain;
    background-position: center center;
}

// nav
.ao-nav {
    height: 150px;
    width: 100%;
    .slider {
        height: 150px;
        .slider-pager {
            .slider-pager-page {
                color: #bcbcbc;
                opacity: 1;
                &.active {
                    color: #ff6060;
                }
            }
        }
    }
}

//活动
.ao-ad {
    height: 57.5px;
    width: 100%;
    background-color: dodgerblue;
}

//邀请好友
.ao-yqhy {
    margin-top: 10px;
    height: 57.5px;
    width: 100%;
    background-color: green;
}

.ao-card {
    height: auto;
    background-color: #ffffff;
    width: 100%;
    //header
    .ao-card-header {
        height: 35px;
        width: 100%;
        border-bottom: 1px solid #eaeaea;
    }
    //热门推荐
    &.ao-hot-recommended {
        margin-top: 10px;
    }
}